bin
doc
download
ews_pico
links
openocd_prebuild
openocd_win_bin
pico-*
pico_c*
preload_uf2
putty
readback
zadig
yijing
json-c
FreeRTOS-Kernel
docs_to_sort*
openocd*

projects

# clone_*.sh
pic/pico_drp_pin.png

*.zip
*.tar
*.tar.gz
*.txt

git_status.lst

pico_all_projects/old
